<h2>About IrisDB</h2>
<p>IrisDB contains data from over 250 environmental remediation projects.  This data is aggregated and anonymized to provide statistics on the mass flux and extent of movement along soil and groundwater pathways. These statistics will be available in 2017 as a reference guide for environmental professionals.</p>

<h2>Features</h2>
<ul>
  <li>Data driven insights into contaminant movement, speed, and range</li>
  <li>Indexed by region and sediment types</li>
  <li>Easy reference that translates into actions to take on a new investigation</li>
</ul>


<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://www.azimuth1.com">Sponsored by Azimuth1</a>
  </li>
</ul>
